body {
  padding-top: 50px;
}
.starter-template {
  padding: 60px 15px;
  text-align: center;
}

.verbtable {
  margin-top: 100px;
  border: 1px solid darkorange;
  border-radius: 5px;
  background-color: #ffc0aa;
  padding: 50px;
}

.verbsubmit {
  margin-top: 20px;
}